<h3>Basic Info</h3>
<div class="input-group col-xs-12">
    <label for="name" class="control-label">Name</label>
    <input class="form-control" type="text" name="name" ng-model="driver.name" required />
</div>
<div class="input-group col-xs-12">
    <label for="address" class="control-label">Address</label>
    <input class="form-control" type="text" name="address" ng-model="driver.address" required />
</div>
<div class="input-group col-xs-12">
    <label for="scca" class="control-label">SCCA Member Number</label>
    <input class="form-control" type="text" name="scca" ng-model="driver.scca_number" />
</div>
<div class="input-group col-xs-12">
    <label for="number" class="control-label">Car Number</label>
    <input class="form-control" type="text" name="number" ng-model="driver.number" />
</div>
<div class="input-group col-xs-12">
    <label for="emergency-contact" class="control-label">Emergency Contact Name</label>
    <input class="form-control" type="text" name="emergency-contact" ng-model="driver.emergency_name" />
</div>
<div class="input-group col-xs-12">
    <label for="emergency-phone" class="control-label">Emergency Contact Phone</label>
    <input class="form-control" type="text" name="emergency-phone" ng-model="driver.emergency_phone" />
</div>
<div class="input-group">
    <label for="novice" class="control-label">Novice?</label>
    <input class="form-control" type="checkbox" name="novice" ng-model="driver.novice" />
</div>
